<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/style.css">
  <meta charset="utf-8">
  
  <title>{{post.title}}</title>
</head>
<body style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: sandybrown;">
<div class="container" style="justify-content:space-arround; align-items: left; justify-items:left">
  <h1 style="margin: 5px;">{{post.title}}</h1>
  <p>{{post.content}}</p>
  <h3>Comments</h3>
  <ul style="list-style-type:circle;">
    {{#each post.comments}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
  <h4>Add a Comment:</h4 >
  <form action="/posts/{{post.id}}/comment" method="POST">
    <input type="text" id="comment" name="comment">
     <button type="submit" style="background-color: rgb(85, 201, 187); border:1px solid; border-radius: 2px;">Comment</button> 
  </form>
  
  <form action="/posts/{{post.id}}/delete" method="POST">
  <a href="/posts/{{post.id}}/edit" style="text-decoration:none; color: black; border-radius:2px; background-color:rgb(101, 166, 235); padding:1px 4px; border: 1px solid; font-size:15px;">Edit Post</a>
    <button type="submit" style="margin-top:10px; padding:3px 3px; background-color:rgb(222, 63, 63); border:1px solid; border-radius: 2px;" >Delete Post</button>
  </form>
 </div> 
</body>
</html>